<link rel="import" href="../../polymer/polymer.html">

<link rel="import" href="../yarn-state-behavior.html">

<dom-module id="test-state-to"></dom-module>

<script>
(function() {

  Polymer({

    is: 'test-state-to',

    observers: [
      '_seeState(state.prop)',
      '_seeState(state.deep.prop)'
    ],

    seenState: null,

    _seeState: function(prop) {

      this.seenState = prop;
    },

    behaviors: [
      YarnBehaviors.StateBehavior
    ]

  });

})();
</script>
