<link rel="import" href="../../polymer/polymer.html">

<link rel="import" href="../yarn-state-behavior.html">

<dom-module id="test-state-from"></dom-module>

<script>
(function() {

  Polymer({

    is: 'test-state-from',

    behaviors: [
      YarnBehaviors.StateBehavior
    ]

  });

})();
</script>
